@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared font family */
.open-sans {
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Logo */
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.orange{
    color: #FD6E0A;
}
/* Main styles */
header{
    background: #FFF8F3;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items:center;
}
nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.btn2{
    background: #FFF8F3;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #FD6E0A;
}
#banner{
    /* background: #000; */
    margin: 47px 38px  0 230px ;
    display:flex;
    justify-content: space-between;
    background: url('img/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: 500px 0px;
    background-size: contain;
    /* align-items: center; */
}
#banner .banner-content{
    width: 585px;
    margin-top: 85px;
}
#banner .banner-content h2{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
}
#banner .banner-content h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
}
#banner .banner-content p{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
}
#banner .banner-img img{
    margin-right: 40px;
    margin-bottom: -5px;
}
.buttons{
    display: flex;
    gap: 0 30px;
}
#about .about-content{
    padding: 130px 156px;
    background:#FFF8F3;
    margin: 130px 230px;
}
#about .about-content h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
#about .about-content p{
   font-size: 16px;
    font-weight: 400;    
    text-align: center;
    line-height: 30px;
    color: #757575;
}
#about .about-content .table {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#about .about-content .table h3{
    text-align: center;
}
.what-do{
    padding: 130px 156px 0 130px;
    /* background:#FFF8F3; */
    /* margin: 130px 230px 0 130px; */
    /* margin-bottom: 0; */
}
.what-do h1{
    text-align: center;
    margin-block: 20px;
}
.what-do p{
    /* margin-block: 20px; */
    font-size: 14px;
    font-weight: 400;    
    text-align: center;
    line-height: 30px;
    color: #757575;
    width: 70%;
    margin: 20px auto;
}
.icon-box{
    box-shadow: 0 0 8px rgb(228, 227, 227),0 0 18px rgb(228, 227, 227);
    margin: 15px;
    width: 280px;
    padding: 30px;
    border-radius: 5px;
    background: #fff;
}
.box h2{
    margin-block: 20px;
    font-size: 20px;
}
 .icon-box .box p{
    font-size: 16px;
    font-weight: 400;    
    line-height: 30px;
    color: #757575;
 }
 #icon-part{
    display: flex;
    justify-content: center;
 }