@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared font family */
.open-sans {
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Logo */
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.orange{
    color: #FD6E0A;
}
/* Main styles */
header{
    background: #FFF8F3;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items:center;
}
nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.btn2{
    background: #FFF8F3;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #FD6E0A;
}
#banner{
    /* background: #000; */
    margin: 47px 38px  0 230px ;
    display:flex;
    justify-content: space-between;
}